div{
    margin: 153px;
    padding: 111px;
    background-color: rgb(255 255 255);
    border-radius: 228px;
    width: 426px;
}

#btn{
    background-color: rgb(255 255 255);
    font-weight: bold;
    font-size: 208%;
    font-family: "Lucida Console", "Courier New", monospace;

}
input{
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
label{
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;


}
body{
    background-color: gray;
}